body{
	background-color: #EFEFEF;
}

header{
	background-color: #333333;
	display:flex;
	height: 45px;
}
header ul {
	display:flex;
	align-items: center;
	justify-content: center;
	margin:0;
}
html{
	width:100%;
}
.logo-face{
	width:160px;
	height: 60px;
}

.navbar{
	display:flex;
	margin-left: 110px;
}
.navbar ul li{
	list-style-type: none;
	display: inline-block;
	margin: 5px;
	padding-left: 20px;
	padding-bottom: 10px;
}

.navbar ul li a{
	color: #F5F5F5;
	font-weight: 500;
}

.navbar ul li  a:hover{
	color : rgb(36,136,143);
	font-weight: bold;
	text-decoration: none;
} 

.presentation-row{
	margin-top:0;
	padding: 0;
}
.intro{
	margin-top: 20px;
}

.presentation-text{
	margin-top: 0;
	padding: 0;
	background-color: #FFF;
	box-sizing: border-box;
	min-height:2em;
	border: 3px solid #EFEFEF;
}
.img-fluid{

}
.img-fluid > img{

}
h1{
	color:rgb(36,136,143);
	font-size: 2em;
}
h2{
	margin: 20px 0;
	font-size:2em;
	text-transform: uppercase;
	color: rgb(36,136,143);
}
hr{
	padding:0;
	margin:0 0 15px 0;
}
.ligne-bleue{
	color:rgb(36,136,143);
	background:rgb(36,136,143);
}
.ligne-orange{
	margin:20px 0;
	background:rgba(237,151,103,1);
}
.ligne-blanche{
	color: #FFF;
	background-color: #FFF;
}
.introFACE{
	padding:10px;
}

.mentor{
	margin-top: 20px;
	color:#FFF;
} 
.mentor-img{
	display:flex;
}
.mentor-img > img {
	margin:auto;
}
.une{
	text-transform: uppercase;
}

.fil-social{
	background: rgb(36,136,143);
	padding: 10px;
	color: #FFF;
	
}
.news1{
	display: inline-block;	
}

.info{
	background-color: rgb(36,136,143);
	padding-left: 10px;
}
.btn-plus {
	text-align: center;
	background-color: #FFF;
	color: rgb(36,136,143);
}
.action{
	padding:0;
	font-size: 0.8em;
	color: #333 333;
}
.action1{
	padding: 10px;
}
.action2{
	text-transform: uppercase;
	font-weight: bold;
}
.emploi{
	background-color: rgb(36,136,143);
	color: #FFF;
}
.fil-social{
	background-color: rgb(36,136,143);
	color: #FFF;
}
.emploi{
	text-align: center;
	color: #FFF;
}
.projet{
	text-align: center;
}
.banniere{
	height: 100%;
	background-color: rgb(36,136,143);
	display:flex;
}
.banniere > img {
	margin:auto;
}
.admin{
	text-align: center;
}
.formation{
	background-color: rgb(36,136,143);
	text-align: center;	
	color: #FFF;
}
.partenaires{
	display:block;
	margin:0 auto;
}
.quartier{
	background-color: rgb(36,136,143);	
	text-align: center;
	color: #FFF;
}
span{
	font-size: 3em;
}

.block-action{
	margin:20px -15px;
}
.d-flex{
	width: 100%;
}
.mission{
	background-color: rgb(36,136,143);	
	color: #FFF;
	padding: 15px;
}

h3{
	font-size: 1.5em;
}

label{
	margin-top: 10px;
	color: rgb(36,136,143);
}

.btn-envoyer.btn-dark{ 
	margin-top: 10px;
	text-align: center;
	background-color: rgb(36,136,143);
	color: #FFF;	
}
footer{
	margin-top: 20px;
	display: flex;
	padding-top: 15px;
	width: 100%;
	background-color: #333333;
	height: 120px;
}
.adresse{
	color: #F5F5F5;
	margin-left: 15px;
}
